<?xml version="1.0" encoding="UTF-8"?>
<preferences>
  <news>
    <topic>NA</topic>
    <topic>NA</topic>
    <topic>NA</topic>
  </news>
  <debate>
    <topic>NA</topic>
    <topic>NA</topic>
    <topic>NA</topic>
    <topic>NA</topic>
  </debate>
  <blog>
    <topic>NA</topic>
    <topic>NA</topic>
    <topic>NA</topic>
    <topic>NA</topic>
  </blog>
  <a2a>
    <topic>NA</topic>
    <topic>NA</topic>
    <topic>NA</topic>
    <topic>NA</topic>
  </a2a>
</preferences>
